In [1]:
from pathlib import Path
import pandas as pd
import re

BASE_DIR = Path.cwd()
PROJECT_ROOT = BASE_DIR.parent    # naik 1 level
ISPU_DIR = PROJECT_ROOT / "ISPU"    # ambil folder ISPU
OUTPUT_DIR = BASE_DIR / "input"       # ispu_named copy/input

OUTPUT_DIR.mkdir(exist_ok=True)


print("BASE_DIR      :", BASE_DIR)
print("PROJECT_ROOT  :", PROJECT_ROOT)
print("ISPU_DIR      :", ISPU_DIR)

BASE_DIR      : c:\Users\veiro\Documents\datavidia\AIR-POLLUTION-PREDICTION-PENYISIHAN-DATAVIDIA-10\ispu_named copy
PROJECT_ROOT  : c:\Users\veiro\Documents\datavidia\AIR-POLLUTION-PREDICTION-PENYISIHAN-DATAVIDIA-10
ISPU_DIR      : c:\Users\veiro\Documents\datavidia\AIR-POLLUTION-PREDICTION-PENYISIHAN-DATAVIDIA-10\ISPU

In [2]:
csv_files = sorted(ISPU_DIR.glob("*.csv"))

print("Total files:", len(csv_files))
for f in csv_files:
    print("-", f.name)

Total files: 16
- data-indeks-standar-pencemar-udara-(ispu)-di-provinsi-dki-jakarta-2023-komponen-data.csv
- data-indeks-standar-pencemar-udara-(ispu)-di-provinsi-dki-jakarta-komponen-data-2024.csv
- data-indeks-standar-pencemar-udara-(ispu)-di-provinsi-dki-jakarta-komponen-data-2025.csv
- indeks-standar-pencemaran-udara-(ispu)-tahun-2010-komponen-data.csv
- indeks-standar-pencemaran-udara-(ispu)-tahun-2011-komponen-data.csv
- indeks-standar-pencemaran-udara-(ispu)-tahun-2012-komponen-data.csv
- indeks-standar-pencemaran-udara-(ispu)-tahun-2013-komponen-data.csv
- indeks-standar-pencemaran-udara-(ispu)-tahun-2014-komponen-data.csv
- indeks-standar-pencemaran-udara-(ispu)-tahun-2015-komponen-data.csv
- indeks-standar-pencemaran-udara-(ispu)-tahun-2016-komponen-data.csv
- indeks-standar-pencemaran-udara-(ispu)-tahun-2017-komponen-data.csv
- indeks-standar-pencemaran-udara-(ispu)-tahun-2018-komponen-data.csv
- indeks-standar-pencemaran-udara-(ispu)-tahun-2019-komponen-data.csv
- indeks-standar-pencemaran-udara-(ispu)-tahun-2020-komponen-data.csv
- indeks-standar-pencemaran-udara-(ispu)-tahun-2021-komponen-data.csv
- indeks-standar-pencemaran-udara-(ispu)-tahun-2022-komponen-data.csv

In [3]:
def extract_year(path):
    match = re.search(r'20\d{2}', str(path))
    return int(match.group()) if match else 0

In [4]:
files_sorted = sorted(csv_files, key=extract_year)
from IPython.display import display

for file in files_sorted:
    print("=" * 100)
    print(f"FILE: {file.name}")
    print("=" * 100)

    df = pd.read_csv(file)
    

    if "tanggal" in df.columns:
        df["tanggal"] = pd.to_datetime(df["tanggal"], errors="coerce")
        df = df.sort_values("tanggal").reset_index(drop=True)

    display(df.head())

====================================================================================================
FILE: indeks-standar-pencemaran-udara-(ispu)-tahun-2010-komponen-data.csv
====================================================================================================

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori
0,201001,2010-01-01,DKI1 (Bunderan HI),60,4,73,27,14,73,CO,SEDANG
1,201001,2010-01-01,DKI5 (Kebon Jeruk),---,---,---,---,---,0,NaN,TIDAK ADA DATA
2,201001,2010-01-01,DKI3 (Jagakarsa),---,---,---,---,---,0,NaN,TIDAK ADA DATA
3,201001,2010-01-01,DKI2 (Kelapa Gading),---,---,---,---,---,0,NaN,TIDAK ADA DATA
4,201001,2010-01-01,DKI4 (Lubang Buaya),---,---,---,---,---,0,NaN,TIDAK ADA DATA

====================================================================================================
FILE: indeks-standar-pencemaran-udara-(ispu)-tahun-2011-komponen-data.csv
====================================================================================================

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201101,2011-01-01,52,17,51,76,7,76,O3,SEDANG,DKI3
1,201101,2011-01-02,35,15,15,47,11,47,O3,BAIK,DKI1
2,201101,2011-01-03,41,16,35,31,15,41,PM10,BAIK,DKI1
3,201101,2011-01-04,53,17,19,77,11,77,O3,SEDANG,DKI3
4,201101,2011-01-05,59,12,21,61,12,61,O3,SEDANG,DKI3

====================================================================================================
FILE: indeks-standar-pencemaran-udara-(ispu)-tahun-2012-komponen-data.csv
====================================================================================================

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201201,2012-01-01,52,18,39,63,7,63,O3,SEDANG,DKI2
1,201201,2012-01-02,49,22,28,55,11,55,O3,SEDANG,DKI2
2,201201,2012-01-03,65,15,42,86,22,86,O3,SEDANG,DKI1
3,201201,2012-01-04,69,20,55,97,20,97,O3,SEDANG,DKI1
4,201201,2012-01-05,67,14,39,157,25,157,O3,TIDAK SEHAT,DKI2

====================================================================================================
FILE: indeks-standar-pencemaran-udara-(ispu)-tahun-2013-komponen-data.csv
====================================================================================================

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201301,2013-01-01,75,4,27,135,10,135,O3,TIDAK SEHAT,DKI2
1,201301,2013-01-02,35,4,26,192,8,192,O3,TIDAK SEHAT,DKI2
2,201301,2013-01-03,61,5,36,195,9,195,O3,TIDAK SEHAT,DKI2
3,201301,2013-01-04,39,4,13,210,10,210,O3,SANGAT TIDAK SEHAT,DKI2
4,201301,2013-01-05,53,5,14,111,8,111,O3,TIDAK SEHAT,DKI2

====================================================================================================
FILE: indeks-standar-pencemaran-udara-(ispu)-tahun-2014-komponen-data.csv
====================================================================================================

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori
0,201401,2014-01-01,DKI1 (Bunderan HI),77,3,39,54,13,77,PM10,SEDANG
1,201401,2014-01-01,DKI2 (Kelapa Gading),56,2,33,50,13,56,PM10,SEDANG
2,201401,2014-01-01,DKI4 (Lubang Buaya),63,8,58,64,9,64,O3,SEDANG
3,201401,2014-01-01,DKI5 (Kebon Jeruk),67,3,44,44,10,67,PM10,SEDANG
4,201401,2014-01-01,DKI3 (Jagakarsa),54,6,56,41,---,56,CO,SEDANG

====================================================================================================
FILE: indeks-standar-pencemaran-udara-(ispu)-tahun-2015-komponen-data.csv
====================================================================================================

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201501,2015-01-01,49,10,39,27,10,49,PM10,BAIK,DKI1
1,201501,2015-01-02,28,9,26,48,10,48,O3,BAIK,DKI2
2,201501,2015-01-03,27,10,28,44,10,44,O3,BAIK,DKI2
3,201501,2015-01-04,22,9,28,42,12,42,O3,BAIK,DKI2
4,201501,2015-01-05,25,9,25,32,7,32,O3,BAIK,DKI2

====================================================================================================
FILE: indeks-standar-pencemaran-udara-(ispu)-tahun-2016-komponen-data.csv
====================================================================================================

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori
0,201601,2016-01-01,DKI4 (Lubang Buaya),72,32,12,37,11,72,PM10,SEDANG
1,201601,2016-01-01,DKI3 (Jagakarsa),---,17,53,51,11,53,CO,SEDANG
2,201601,2016-01-01,DKI2 (Kelapa Gading),69,19,42,40,10,69,PM10,SEDANG
3,201601,2016-01-01,DKI1 (Bunderan HI),59,19,27,31,1,59,PM10,SEDANG
4,201601,2016-01-01,DKI5 (Kebon Jeruk) Jakarta Barat,54,11,---,33,4,54,PM10,SEDANG

====================================================================================================
FILE: indeks-standar-pencemaran-udara-(ispu)-tahun-2017-komponen-data.csv
====================================================================================================

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori
0,201701,2017-01-01,DKI5 (Kebon Jeruk),---,17,38,54,5,54,O3,SEDANG
1,201701,2017-01-01,DKI2 (Kelapa Gading),52,21,11,61,11,61,O3,SEDANG
2,201701,2017-01-01,DKI3 (Jagakarsa),73,31,19,33,5,73,PM10,SEDANG
3,201701,2017-01-01,DKI1 (Bunderan HI),63,34,25,21,2,63,PM10,SEDANG
4,201701,2017-01-01,DKI4 (Lubang Buaya),69,27,23,54,5,69,PM10,SEDANG

====================================================================================================
FILE: indeks-standar-pencemaran-udara-(ispu)-tahun-2018-komponen-data.csv
====================================================================================================

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201801,2018-01-01,76,31,38,35,9,76,PM10,SEDANG,DKI4
1,201802,2018-01-02,44,43,37,73,13,73,O3,SEDANG,DKI5
2,201803,2018-01-03,72,24,40,126,19,126,O3,TIDAK SEHAT,DKI5
3,201804,2018-01-04,45,25,17,57,13,57,O3,SEDANG,DKI5
4,201805,2018-01-05,73,25,19,101,18,101,O3,TIDAK SEHAT,DKI5

====================================================================================================
FILE: indeks-standar-pencemaran-udara-(ispu)-tahun-2019-komponen-data.csv
====================================================================================================

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,201901,2019-01-01,29,15,7,71,13,71,O3,SEDANG,DKI2
1,201901,2019-01-02,24,17,6,79,6,79,O3,SEDANG,DKI2
2,201901,2019-01-03,23,16,6,65,4,65,O3,SEDANG,DKI2
3,201901,2019-01-04,42,18,10,64,11,64,O3,SEDANG,DKI2
4,201901,2019-01-05,54,29,16,51,20,54,PM10,SEDANG,DKI3

====================================================================================================
FILE: indeks-standar-pencemaran-udara-(ispu)-tahun-2020-komponen-data.csv
====================================================================================================

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,202001,2020-01-01,38,36,25,46,9,46,O3,BAIK,DKI5
1,202001,2020-01-02,45,36,39,102,8,102,O3,TIDAK SEHAT,DKI5
2,202001,2020-01-03,51,37,27,63,10,63,O3,SEDANG,DKI5
3,202001,2020-01-04,51,38,19,85,10,85,O3,SEDANG,DKI5
4,202001,2020-01-05,52,39,25,62,9,62,O3,SEDANG,DKI5

====================================================================================================
FILE: indeks-standar-pencemaran-udara-(ispu)-tahun-2021-komponen-data.csv
====================================================================================================

,periode_data,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
0,202101,2021-01-01,DKI1 (Bunderan HI),38,53,29,6,31,13,53,PM25,SEDANG
1,202101,2021-01-01,DKI5 (Kebon Jeruk) Jakarta Barat,37,NaN,20,12,25,4,37,PM10,BAIK
2,202101,2021-01-01,DKI3 (Jagakarsa),43,56,15,10,33,5,56,PM25,SEDANG
3,202101,2021-01-01,DKI2 (Kelapa Gading),38,58,2,11,65,6,65,O3,SEDANG
4,202101,2021-01-01,DKI4 (Lubang Buaya),41,NaN,37,14,35,4,41,PM10,BAIK

====================================================================================================
FILE: indeks-standar-pencemaran-udara-(ispu)-tahun-2022-komponen-data.csv
====================================================================================================

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\3003919914.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["tanggal"] = pd.to_datetime(df["tanggal"], errors="coerce")

,periode_data,tanggal,pm_10,pm_duakomalima,so2,co,o3,no2,max,critical,categori,lokasi_spku
0,202202,2020-02-01,64,89,52,13,76,21,89,"PM2,5",SEDANG,DKI3
1,202202,2020-02-02,66,101,47,22,64,26,101,"PM2,5",TIDAK SEHAT,DKI4
2,202202,2020-02-03,58,99,48,20,65,33,99,"PM2,5",SEDANG,DKI4
3,202202,2020-02-04,54,72,46,12,68,27,72,"PM2,5",SEDANG,DKI3
4,202202,2020-02-05,43,62,53,18,55,30,62,"PM2,5",SEDANG,DKI5

====================================================================================================
FILE: data-indeks-standar-pencemar-udara-(ispu)-di-provinsi-dki-jakarta-2023-komponen-data.csv
====================================================================================================

,periode_data,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori
0,202212,2022-12-01,DKI1 Bunderan HI,54,73,36,12,22,13,73,PM25,SEDANG
1,202212,2022-12-01,DKI2 Kelapa Gading,59,74,46,15,50,31,74,PM25,SEDANG
2,202212,2022-12-01,DKI5 Kebon Jeruk Jakarta Barat,52,-,18,17,27,5,52,PM10,SEDANG
3,202212,2022-12-01,DKI3 Jagakarsa,53,81,42,9,24,12,81,PM25,SEDANG
4,202212,2022-12-01,DKI4 Lubang Buaya,64,93,52,7,27,19,93,PM25,SEDANG

====================================================================================================
FILE: data-indeks-standar-pencemar-udara-(ispu)-di-provinsi-dki-jakarta-komponen-data-2024.csv
====================================================================================================

,periode_data,bulan,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori
0,202412,12,1970-01-01 00:00:00.000000001,DKI2 Kelapa Gading,29.0,39.0,59.0,10.0,10.0,21.0,59.0,SO2,SEDANG
1,202410,10,1970-01-01 00:00:00.000000001,DKI5 Kebon Jeruk,33.0,103.0,37.0,22.0,51.0,17.0,103.0,PM25,TIDAK SEHAT
2,202405,5,1970-01-01 00:00:00.000000001,DKI1 Bunderan HI,47.0,63.0,15.0,19.0,26.0,34.0,63.0,PM25,SEDANG
3,202401,1,1970-01-01 00:00:00.000000001,DKI3 Jagakarsa,65.0,89.0,14.0,54.0,13.0,NaN,89.0,PM25,SEDANG
4,202406,6,1970-01-01 00:00:00.000000001,DKI4 Lubang Buaya,97.0,120.0,31.0,13.0,19.0,8.0,120.0,PM25,TIDAK SEHAT

====================================================================================================
FILE: data-indeks-standar-pencemar-udara-(ispu)-di-provinsi-dki-jakarta-komponen-data-2025.csv
====================================================================================================

,periode_data,bulan,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori
0,202505,5,1970-01-01 00:00:00.000000001,DKI2 Kelapa Gading,60.0,88.0,35.0,16.0,25.0,5.0,88.0,PM25,SEDANG
1,202506,6,1970-01-01 00:00:00.000000001,DKI1 Bundaran Hotel Indonesia (HI),50.0,88.0,33.0,16.0,19.0,33.0,88.0,PM25,SEDANG
2,202507,7,1970-01-01 00:00:00.000000001,DKI4 Lubang Buaya,44.0,57.0,22.0,7.0,19.0,11.0,57.0,PM25,SEDANG
3,202507,7,1970-01-01 00:00:00.000000001,DKI3 Jagakarsa,24.0,52.0,40.0,8.0,17.0,29.0,52.0,PM25,SEDANG
4,202507,7,1970-01-01 00:00:00.000000001,DKI2 Kelapa Gading,37.0,51.0,36.0,13.0,17.0,13.0,51.0,PM25,SEDANG

In [5]:
raw_data = {}

for file in csv_files:
    year = extract_year(file)
    if year is None:
        continue
    
    raw_data[year] = pd.read_csv(file)

In [6]:
def preprocess_ispu(df, year):
    df = df.copy()

    # =====================
    # FIX COLUMN SHIFT ANOMALY (2020 data)
    # =====================
    # In some rows, columns are shifted: the numeric location digit appears
    # in `critical`, the pollutant appears in `categori`, and the category
    # appears in `lokasi_spku`. Detect when `critical` is numeric and fix.
    if year == 2020 and "critical" in df.columns and "categori" in df.columns and "lokasi_spku" in df.columns:
        critical_numeric = pd.to_numeric(df["critical"], errors="coerce").notna()

        if critical_numeric.any():
            # Save originals for clarity
            orig_critical = df.loc[critical_numeric, "critical"].astype(str)
            orig_categori = df.loc[critical_numeric, "categori"].astype(str)
            orig_lokasi = df.loc[critical_numeric, "lokasi_spku"].astype(str)

            # New values:
            # - critical should be the pollutant (currently in `categori`)
            # - categori should be the category (currently in `lokasi_spku`)
            # - lokasi_spku should be 'DKI' + the digit (currently in `critical`)
            df.loc[critical_numeric, "critical"] = orig_categori
            df.loc[critical_numeric, "categori"] = orig_lokasi
            df.loc[critical_numeric, "lokasi_spku"] = "DKI" + orig_critical

    # =====================
    # KODE LOKASI (SOURCE)
    # =====================
    if "kode_lokasi" not in df.columns:
        if "stasiun" in df.columns:
            df["kode_lokasi"] = df["stasiun"]
        elif "lokasi_spku" in df.columns:
            df["kode_lokasi"] = df["lokasi_spku"]
        else:
            df["kode_lokasi"] = None
    
    # =====================
    # HANDLE TANGGAL KHUSUS 2016 (mixed format)
    # =====================
    if year == 2016:
        tanggal_raw = df["tanggal"].astype(str)

        parsed = pd.Series(pd.NaT, index=df.index)

        # Case 1: format YYYY-MM-DD
        mask_ymd = tanggal_raw.str.match(r"\d{4}-\d{2}-\d{2}")
        parsed[mask_ymd] = pd.to_datetime(
            tanggal_raw[mask_ymd],
            format="%Y-%m-%d",
            errors="coerce"
        )

        # Case 2: format DD/MM/YYYY
        mask_dmy = tanggal_raw.str.match(r"\d{2}/\d{2}/\d{4}")
        parsed[mask_dmy] = pd.to_datetime(
            tanggal_raw[mask_dmy],
            format="%d/%m/%Y",
            errors="coerce",
            dayfirst=True
        )

        df["tanggal"] = parsed.dt.strftime("%Y-%m-%d")


    # =====================
    # HANDLE TANGGAL
    # =====================
    if year == 2022:
        tanggal_raw = df["tanggal"]
        mask_numeric = pd.to_numeric(tanggal_raw, errors="coerce").notna()

        tanggal_parsed = pd.Series(pd.NaT, index=df.index)

        tanggal_parsed[mask_numeric] = pd.to_datetime(
            pd.to_numeric(tanggal_raw[mask_numeric]),
            unit="D",
            origin="1899-12-30"
        )

        tanggal_parsed[~mask_numeric] = pd.to_datetime(
            tanggal_raw[~mask_numeric],
            format='%Y-%m-%d',
            errors="coerce"
        )

        df["tanggal"] = tanggal_parsed.dt.strftime("%Y-%m-%d")

    else:
        # Detect if format is M/D/YYYY (e.g., 9/1/2013)
        tanggal_raw = df["tanggal"].astype(str)
        has_slash = tanggal_raw.str.contains("/", regex=False).any()
        
        if has_slash:
            # Try parsing with M/D/YYYY format first
            parsed = pd.to_datetime(
                tanggal_raw,
                format='%m/%d/%Y',
                errors="coerce"
            )
            
            # For any that failed, try after replacing / with -
            failed_mask = parsed.isna()
            if failed_mask.any():
                tanggal_normalized = tanggal_raw.str.replace("/", "-", regex=False)
                
                # For 2018, use dayfirst (dd/mm/yyyy)
                if year == 2018:
                    parsed[failed_mask] = pd.to_datetime(
                        tanggal_normalized[failed_mask],
                        format='%d-%m-%Y',
                        errors="coerce",
                        dayfirst=True
                    )
                else:
                    parsed[failed_mask] = pd.to_datetime(
                        tanggal_normalized[failed_mask],
                        format='%Y-%m-%d',
                        errors="coerce"
                    )
            
            df["tanggal"] = parsed.dt.strftime("%Y-%m-%d")
        else:
            # No slash, proceed with standard parsing
            # normalisasi separator
            df["tanggal"] = tanggal_raw.str.replace("/", "-", regex=False)

            # kasus khusus 2018 (dd/mm/yyyy)
            if year == 2018:
                df["tanggal"] = pd.to_datetime(
                    df["tanggal"],
                    format='%d-%m-%Y',
                    errors="coerce",
                    dayfirst=True
                ).dt.strftime("%Y-%m-%d")
            else:
                df["tanggal"] = pd.to_datetime(
                    df["tanggal"],
                    format='%Y-%m-%d',
                    errors="coerce"
                ).dt.strftime("%Y-%m-%d")

    # =====================
    # KODE LOKASI CLEAN
    # =====================
    df["kode_lokasi_clean"] = (
        df["kode_lokasi"]
        .astype(str)
        .str.split(" ")
        .str[0]
    )

    # =====================
    # ID
    # =====================
    df["id"] = df["tanggal"] + "_" + df["kode_lokasi_clean"]

    return df

In [7]:
processed_data = {}

for year, df in raw_data.items():
    processed_data[year] = preprocess_ispu(df, year)

In [8]:
for year, df in processed_data.items():
    mask = df["tanggal"].notna()
    df.loc[mask, "tanggal"] = (
        df.loc[mask, "tanggal"]
        .astype(str)
        .str.slice_replace(0, 4, str(year))
    )

In [9]:
for year in sorted(processed_data.keys()):
    print(f"DATA {year}")
    display(processed_data[year].head())

DATA 2010

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori,kode_lokasi,kode_lokasi_clean,id
0,201001,2010-01-19,DKI2 (Kelapa Gading),---,---,---,---,---,0,NaN,TIDAK ADA DATA,DKI2 (Kelapa Gading),DKI2,2010-01-19_DKI2
1,201001,2010-01-20,DKI2 (Kelapa Gading),---,---,---,---,---,0,NaN,TIDAK ADA DATA,DKI2 (Kelapa Gading),DKI2,2010-01-20_DKI2
2,201001,2010-01-21,DKI2 (Kelapa Gading),---,---,---,---,---,0,NaN,TIDAK ADA DATA,DKI2 (Kelapa Gading),DKI2,2010-01-21_DKI2
3,201001,2010-01-22,DKI2 (Kelapa Gading),---,---,---,---,---,0,NaN,TIDAK ADA DATA,DKI2 (Kelapa Gading),DKI2,2010-01-22_DKI2
4,201001,2010-01-23,DKI2 (Kelapa Gading),---,---,---,---,---,0,NaN,TIDAK ADA DATA,DKI2 (Kelapa Gading),DKI2,2010-01-23_DKI2

DATA 2011

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,201105,2011-05-01,71,18,54,88,31,88,O3,SEDANG,DKI1,DKI1,DKI1,2011-05-01_DKI1
1,201105,2011-05-02,61,19,35,98,29,98,O3,SEDANG,DKI4,DKI4,DKI4,2011-05-02_DKI4
2,201105,2011-05-03,69,22,31,69,28,69,PM10,SEDANG,DKI1,DKI1,DKI1,2011-05-03_DKI1
3,201105,2011-05-04,63,18,26,47,17,63,PM10,SEDANG,DKI4,DKI4,DKI4,2011-05-04_DKI4
4,201105,2011-05-05,76,17,28,63,20,76,PM10,SEDANG,DKI4,DKI4,DKI4,2011-05-05_DKI4

DATA 2012

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,201201,2012-01-01,52,18,39,63,7,63,O3,SEDANG,DKI2,DKI2,DKI2,2012-01-01_DKI2
1,201201,2012-01-02,49,22,28,55,11,55,O3,SEDANG,DKI2,DKI2,DKI2,2012-01-02_DKI2
2,201201,2012-01-03,65,15,42,86,22,86,O3,SEDANG,DKI1,DKI1,DKI1,2012-01-03_DKI1
3,201201,2012-01-04,69,20,55,97,20,97,O3,SEDANG,DKI1,DKI1,DKI1,2012-01-04_DKI1
4,201201,2012-01-05,67,14,39,157,25,157,O3,TIDAK SEHAT,DKI2,DKI2,DKI2,2012-01-05_DKI2

DATA 2013

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,201301,2013-01-01,75,4,27,135,10,135,O3,TIDAK SEHAT,DKI2,DKI2,DKI2,2013-01-01_DKI2
1,201301,2013-01-02,35,4,26,192,8,192,O3,TIDAK SEHAT,DKI2,DKI2,DKI2,2013-01-02_DKI2
2,201301,2013-01-03,61,5,36,195,9,195,O3,TIDAK SEHAT,DKI2,DKI2,DKI2,2013-01-03_DKI2
3,201301,2013-01-04,39,4,13,210,10,210,O3,SANGAT TIDAK SEHAT,DKI2,DKI2,DKI2,2013-01-04_DKI2
4,201301,2013-01-05,53,5,14,111,8,111,O3,TIDAK SEHAT,DKI2,DKI2,DKI2,2013-01-05_DKI2

DATA 2014

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori,kode_lokasi,kode_lokasi_clean,id
0,201401,2014-01-01,DKI1 (Bunderan HI),77,3,39,54,13,77,PM10,SEDANG,DKI1 (Bunderan HI),DKI1,2014-01-01_DKI1
1,201401,2014-01-02,DKI1 (Bunderan HI),55,4,29,58,12,58,O3,SEDANG,DKI1 (Bunderan HI),DKI1,2014-01-02_DKI1
2,201401,2014-01-03,DKI1 (Bunderan HI),60,5,40,68,13,68,O3,SEDANG,DKI1 (Bunderan HI),DKI1,2014-01-03_DKI1
3,201401,2014-01-04,DKI1 (Bunderan HI),55,7,30,56,14,56,O3,SEDANG,DKI1 (Bunderan HI),DKI1,2014-01-04_DKI1
4,201401,2014-01-05,DKI1 (Bunderan HI),39,4,18,48,10,48,O3,BAIK,DKI1 (Bunderan HI),DKI1,2014-01-05_DKI1

DATA 2015

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,201505,2015-05-19,84,18,31,105,19,105,O3,TIDAK SEHAT,DKI3,DKI3,DKI3,2015-05-19_DKI3
1,201505,2015-05-20,83,18,30,97,22,97,O3,SEDANG,DKI3,DKI3,DKI3,2015-05-20_DKI3
2,201505,2015-05-21,87,18,32,84,19,87,PM10,SEDANG,DKI4,DKI4,DKI4,2015-05-21_DKI4
3,201505,2015-05-22,85,19,27,90,17,90,O3,SEDANG,DKI5,DKI5,DKI5,2015-05-22_DKI5
4,201505,2015-05-23,93,22,36,90,18,93,PM10,SEDANG,DKI4,DKI4,DKI4,2015-05-23_DKI4

DATA 2016

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori,kode_lokasi,kode_lokasi_clean,id
0,201602,2016-02-12,DKI2 (Kelapa Gading),41,3,24,35,15,41,PM10,BAIK,DKI2 (Kelapa Gading),DKI2,2016-02-12_DKI2
1,201602,2016-02-13,DKI2 (Kelapa Gading),73,16,47,72,23,73,PM10,SEDANG,DKI2 (Kelapa Gading),DKI2,2016-02-13_DKI2
2,201602,2016-02-14,DKI2 (Kelapa Gading),62,21,24,86,15,86,O3,SEDANG,DKI2 (Kelapa Gading),DKI2,2016-02-14_DKI2
3,201602,2016-02-15,DKI2 (Kelapa Gading),55,9,29,63,12,63,O3,SEDANG,DKI2 (Kelapa Gading),DKI2,2016-02-15_DKI2
4,201602,2016-02-16,DKI2 (Kelapa Gading),50,6,22,31,14,50,PM10,BAIK,DKI2 (Kelapa Gading),DKI2,2016-02-16_DKI2

DATA 2017

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori,kode_lokasi,kode_lokasi_clean,id
0,201701,2017-01-27,DKI5 (Kebon Jeruk),5,11,29,37,14,37,O3,BAIK,DKI5 (Kebon Jeruk),DKI5,2017-01-27_DKI5
1,201701,2017-01-28,DKI5 (Kebon Jeruk),5,11,28,42,6,42,O3,BAIK,DKI5 (Kebon Jeruk),DKI5,2017-01-28_DKI5
2,201701,2017-01-29,DKI5 (Kebon Jeruk),6,11,29,26,13,29,CO,BAIK,DKI5 (Kebon Jeruk),DKI5,2017-01-29_DKI5
3,201701,2017-01-30,DKI5 (Kebon Jeruk),7,11,28,41,5,41,O3,BAIK,DKI5 (Kebon Jeruk),DKI5,2017-01-30_DKI5
4,201701,2017-01-31,DKI5 (Kebon Jeruk),6,11,26,42,7,42,O3,BAIK,DKI5 (Kebon Jeruk),DKI5,2017-01-31_DKI5

DATA 2018

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,201804,2018-01-04,45,25,17,57,13,57,O3,SEDANG,DKI5,DKI5,DKI5,2018-01-04_DKI5
1,201804,2018-02-04,46,27,18,57,19,57,O3,SEDANG,DKI5,DKI5,DKI5,2018-02-04_DKI5
2,201804,2018-03-04,50,26,27,80,26,80,O3,SEDANG,DKI5,DKI5,DKI5,2018-03-04_DKI5
3,201804,2018-04-04,45,28,20,96,28,96,O3,SEDANG,DKI5,DKI5,DKI5,2018-04-04_DKI5
4,201804,2018-05-04,81,37,29,202,18,202,O3,SANGAT TIDAK SEHAT,DKI5,DKI5,DKI5,2018-05-04_DKI5

DATA 2019

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,201903,2019-03-01,58,19,29,70,15,70,O3,SEDANG,DKI3,DKI3,DKI3,2019-03-01_DKI3
1,201903,2019-03-02,50,51,25,62,12,62,O3,SEDANG,DKI3,DKI3,DKI3,2019-03-02_DKI3
2,201903,2019-03-03,53,23,22,82,15,82,O3,SEDANG,DKI5,DKI5,DKI5,2019-03-03_DKI5
3,201903,2019-03-04,55,22,32,104,22,104,O3,TIDAK SEHAT,DKI3,DKI3,DKI3,2019-03-04_DKI3
4,201903,2019-03-05,47,21,28,83,22,83,O3,SEDANG,DKI5,DKI5,DKI5,2019-03-05_DKI5

DATA 2020

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,202005,2020-05-01,55,26,21,83,10,83,O3,SEDANG,DKI5,DKI5,DKI5,2020-05-01_DKI5
1,202005,2020-05-02,36,22,12,80,9,80,O3,SEDANG,DKI5,DKI5,DKI5,2020-05-02_DKI5
2,202005,2020-05-03,65,34,35,49,11,65,PM10,SEDANG,DKI5,DKI5,DKI5,2020-05-03_DKI5
3,202005,2020-05-04,53,21,14,75,8,75,O3,SEDANG,DKI5,DKI5,DKI5,2020-05-04_DKI5
4,202005,2020-05-05,53,22,18,73,9,73,O3,SEDANG,DKI5,DKI5,DKI5,2020-05-05_DKI5

DATA 2021

,periode_data,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori,kode_lokasi,kode_lokasi_clean,id
0,202101,2021-01-22,DKI5 (Kebon Jeruk) Jakarta Barat,45,NaN,21,13,40,15,45,PM10,BAIK,DKI5 (Kebon Jeruk) Jakarta Barat,DKI5,2021-01-22_DKI5
1,202101,2021-01-23,DKI5 (Kebon Jeruk) Jakarta Barat,80,NaN,22,44,44,22,80,PM10,SEDANG,DKI5 (Kebon Jeruk) Jakarta Barat,DKI5,2021-01-23_DKI5
2,202101,2021-01-24,DKI5 (Kebon Jeruk) Jakarta Barat,27,NaN,14,9,29,---,29,CO,BAIK,DKI5 (Kebon Jeruk) Jakarta Barat,DKI5,2021-01-24_DKI5
3,202101,2021-01-25,DKI5 (Kebon Jeruk) Jakarta Barat,55,NaN,19,29,67,13,67,CO,SEDANG,DKI5 (Kebon Jeruk) Jakarta Barat,DKI5,2021-01-25_DKI5
4,202101,2021-01-26,DKI5 (Kebon Jeruk) Jakarta Barat,57,NaN,21,23,36,16,57,PM10,SEDANG,DKI5 (Kebon Jeruk) Jakarta Barat,DKI5,2021-01-26_DKI5

DATA 2022

,periode_data,tanggal,pm_10,pm_duakomalima,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,202212,2022-12-31,54,73,56,24,23,24,73,"PM2,5",SEDANG,DKI4,DKI4,DKI4,2022-12-31_DKI4
1,202212,2022-12-30,40,64,57,21,17,24,64,"PM2,5",SEDANG,DKI4,DKI4,DKI4,2022-12-30_DKI4
2,202207,2022-07-06,75,129,45,25,71,26,129,"PM2,5",TIDAK SEHAT,DKI4,DKI4,DKI4,2022-07-06_DKI4
3,202207,2022-07-05,66,110,47,16,61,23,110,"PM2,5",TIDAK SEHAT,DKI4,DKI4,DKI4,2022-07-05_DKI4
4,202207,2022-07-04,56,78,49,11,60,13,78,"PM2,5",SEDANG,DKI4,DKI4,DKI4,2022-07-04_DKI4

DATA 2023

,periode_data,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori,kode_lokasi,kode_lokasi_clean,id
0,202302,2023-02-25,DKI5 Kebon Jeruk Jakarta Barat,35,-,13,12,31,18,35,PM10,BAIK,DKI5 Kebon Jeruk Jakarta Barat,DKI5,2023-02-25_DKI5
1,202302,2023-02-26,DKI5 Kebon Jeruk Jakarta Barat,23,-,14,9,32,11,32,O3,BAIK,DKI5 Kebon Jeruk Jakarta Barat,DKI5,2023-02-26_DKI5
2,202302,2023-02-27,DKI5 Kebon Jeruk Jakarta Barat,20,-,13,8,33,13,33,O3,BAIK,DKI5 Kebon Jeruk Jakarta Barat,DKI5,2023-02-27_DKI5
3,202302,2023-02-28,DKI5 Kebon Jeruk Jakarta Barat,30,-,21,11,28,18,30,PM10,BAIK,DKI5 Kebon Jeruk Jakarta Barat,DKI5,2023-02-28_DKI5
4,202303,2023-03-01,DKI1 Bunderan HI,38,44,50,8,19,27,50,3,BAIK,DKI1 Bunderan HI,DKI1,2023-03-01_DKI1

DATA 2024

,periode_data,bulan,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori,kode_lokasi,kode_lokasi_clean,id
0,202401,1,NaN,DKI3 Jagakarsa,51.0,65.0,45.0,9.0,8.0,79.0,79.0,NaN,SEDANG,DKI3 Jagakarsa,DKI3,NaN
1,202401,1,NaN,DKI3 Jagakarsa,27.0,34.0,45.0,5.0,8.0,56.0,56.0,NaN,SEDANG,DKI3 Jagakarsa,DKI3,NaN
2,202401,1,NaN,DKI3 Jagakarsa,NaN,52.0,46.0,6.0,9.0,51.0,52.0,PM25,SEDANG,DKI3 Jagakarsa,DKI3,NaN
3,202401,1,NaN,DKI3 Jagakarsa,46.0,65.0,46.0,8.0,9.0,38.0,65.0,PM25,SEDANG,DKI3 Jagakarsa,DKI3,NaN
4,202401,1,NaN,DKI3 Jagakarsa,37.0,55.0,47.0,7.0,11.0,28.0,55.0,PM25,SEDANG,DKI3 Jagakarsa,DKI3,NaN

DATA 2025

,periode_data,bulan,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori,kode_lokasi,kode_lokasi_clean,id
0,202504,4,NaN,DKI5 Kebon Jeruk,16.0,50.0,18.0,3.0,16.0,4.0,50.0,PM25,BAIK,DKI5 Kebon Jeruk,DKI5,NaN
1,202504,4,NaN,DKI5 Kebon Jeruk,23.0,81.0,19.0,9.0,24.0,3.0,81.0,PM25,SEDANG,DKI5 Kebon Jeruk,DKI5,NaN
2,202504,4,NaN,DKI5 Kebon Jeruk,30.0,77.0,20.0,11.0,29.0,3.0,77.0,PM25,SEDANG,DKI5 Kebon Jeruk,DKI5,NaN
3,202504,4,NaN,DKI5 Kebon Jeruk,31.0,85.0,21.0,12.0,47.0,4.0,85.0,PM25,SEDANG,DKI5 Kebon Jeruk,DKI5,NaN
4,202504,4,NaN,DKI5 Kebon Jeruk,24.0,78.0,20.0,9.0,37.0,4.0,78.0,PM25,SEDANG,DKI5 Kebon Jeruk,DKI5,NaN

In [10]:
for year in sorted(raw_data.keys()):
    print(
        f"{year} | raw: {len(raw_data[year])} | processed: {len(processed_data[year])}"
    )

2010 | raw: 1825 | processed: 1825
2011 | raw: 365 | processed: 365
2012 | raw: 366 | processed: 366
2013 | raw: 365 | processed: 365
2014 | raw: 1825 | processed: 1825
2015 | raw: 365 | processed: 365
2016 | raw: 1830 | processed: 1830
2017 | raw: 1825 | processed: 1825
2018 | raw: 365 | processed: 365
2019 | raw: 345 | processed: 345
2020 | raw: 366 | processed: 366
2021 | raw: 1825 | processed: 1825
2022 | raw: 365 | processed: 365
2023 | raw: 1825 | processed: 1825
2024 | raw: 1830 | processed: 1830
2025 | raw: 1215 | processed: 1215

In [11]:
for file in csv_files:
    year = extract_year(file)

    if year is None or year > 2022:
        continue  # jangan sentuh 20222025

    print(f"Processing {year}  {file.name}")

    df_raw = pd.read_csv(file)
    df_processed = preprocess_ispu(df_raw, year)
    
    # =====================
    # FIX YEAR IN TANGGAL
    # =====================
    mask = df_processed["tanggal"].notna()
    df_processed.loc[mask, "tanggal"] = (
        df_processed.loc[mask, "tanggal"]
        .astype(str)
        .str.slice_replace(0, 4, str(year))
    )
    
    # =====================
    # FIX YEAR IN PERIODE_DATA
    # =====================
    if "periode_data" in df_processed.columns:
        mask_periode = df_processed["periode_data"].notna()
        df_processed.loc[mask_periode, "periode_data"] = (
            df_processed.loc[mask_periode, "periode_data"]
            .astype(str)
            .str.slice_replace(0, 4, str(year))
        )

    df_processed.to_csv(
        OUTPUT_DIR / f"{year}_id.csv",
        index=False
    )

    display(df_processed.head(2))

Processing 2010  indeks-standar-pencemaran-udara-(ispu)-tahun-2010-komponen-data.csv

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\2323513758.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['201001' '201001' '201001' ... '201012' '201012' '201012']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_processed.loc[mask_periode, "periode_data"] = (

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori,kode_lokasi,kode_lokasi_clean,id
0,201001,2010-01-19,DKI2 (Kelapa Gading),---,---,---,---,---,0,NaN,TIDAK ADA DATA,DKI2 (Kelapa Gading),DKI2,2010-01-19_DKI2
1,201001,2010-01-20,DKI2 (Kelapa Gading),---,---,---,---,---,0,NaN,TIDAK ADA DATA,DKI2 (Kelapa Gading),DKI2,2010-01-20_DKI2

Processing 2011  indeks-standar-pencemaran-udara-(ispu)-tahun-2011-komponen-data.csv

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\2323513758.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['201105' '201105' '201105' '201105' '201105' '201105' '201105' '201105'
 '201105' '201105' '201105' '201105' '201105' '201105' '201105' '201105'
 '201105' '201105' '201105' '201105' '201105' '201105' '201105' '201105'
 '201105' '201105' '201105' '201105' '201105' '201105' '201105' '201106'
 '201106' '201106' '201106' '201106' '201106' '201106' '201106' '201106'
 '201106' '201106' '201106' '201106' '201106' '201106' '201106' '201106'
 '201106' '201106' '201106' '201106' '201106' '201102' '201102' '201102'
 '201102' '201102' '201102' '201102' '201102' '201102' '201102' '201102'
 '201102' '201102' '201102' '201102' '201102' '201102' '201102' '201102'
 '201102' '201102' '201102' '201102' '201102' '201102' '201102' '201102'
 '201102' '201104' '201104' '201104' '201104' '201104' '201104' '201104'
 '201104' '201104' '201104' '201104' '201104' '201104' '201104' '201104'
 '201104' '201104' '201104' '201104' '201104' '201104' '201104' '201104'
 '201104' '201104' '201104' '201103' '201103' '201103' '201103' '201103'
 '201103' '201103' '201103' '201103' '201103' '201103' '201103' '201103'
 '201103' '201103' '201103' '201103' '201103' '201103' '201103' '201103'
 '201103' '201103' '201103' '201103' '201103' '201103' '201103' '201103'
 '201103' '201103' '201104' '201104' '201104' '201104' '201106' '201106'
 '201106' '201106' '201106' '201106' '201106' '201106' '201108' '201108'
 '201108' '201108' '201108' '201108' '201108' '201108' '201108' '201108'
 '201101' '201101' '201101' '201101' '201101' '201101' '201101' '201101'
 '201101' '201101' '201101' '201101' '201101' '201101' '201101' '201101'
 '201101' '201101' '201101' '201101' '201101' '201101' '201101' '201101'
 '201101' '201101' '201101' '201101' '201101' '201101' '201101' '201108'
 '201108' '201108' '201108' '201108' '201108' '201108' '201108' '201108'
 '201108' '201108' '201108' '201108' '201108' '201108' '201108' '201108'
 '201108' '201108' '201108' '201108' '201107' '201107' '201107' '201107'
 '201107' '201107' '201107' '201107' '201107' '201107' '201107' '201107'
 '201107' '201107' '201107' '201107' '201107' '201107' '201107' '201107'
 '201107' '201107' '201107' '201107' '201107' '201107' '201107' '201107'
 '201107' '201107' '201107' '201110' '201110' '201110' '201110' '201110'
 '201110' '201110' '201110' '201110' '201110' '201110' '201110' '201110'
 '201110' '201110' '201110' '201110' '201110' '201110' '201110' '201110'
 '201110' '201110' '201110' '201110' '201110' '201110' '201110' '201110'
 '201110' '201110' '201109' '201109' '201109' '201109' '201109' '201109'
 '201109' '201109' '201109' '201109' '201109' '201109' '201109' '201109'
 '201109' '201109' '201109' '201109' '201109' '201109' '201109' '201109'
 '201109' '201109' '201109' '201109' '201109' '201109' '201109' '201109'
 '201112' '201112' '201112' '201112' '201112' '201112' '201112' '201112'
 '201112' '201112' '201112' '201112' '201112' '201112' '201112' '201112'
 '201112' '201112' '201112' '201112' '201112' '201112' '201112' '201112'
 '201112' '201112' '201112' '201112' '201112' '201112' '201112' '201111'
 '201111' '201111' '201111' '201111' '201111' '201111' '201111' '201111'
 '201111' '201111' '201111' '201111' '201111' '201111' '201111' '201111'
 '201111' '201111' '201111' '201111' '201111' '201111' '201111' '201111'
 '201111' '201111' '201111' '201111' '201111']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_processed.loc[mask_periode, "periode_data"] = (

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,201105,2011-05-01,71,18,54,88,31,88,O3,SEDANG,DKI1,DKI1,DKI1,2011-05-01_DKI1
1,201105,2011-05-02,61,19,35,98,29,98,O3,SEDANG,DKI4,DKI4,DKI4,2011-05-02_DKI4

Processing 2012  indeks-standar-pencemaran-udara-(ispu)-tahun-2012-komponen-data.csv

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\2323513758.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['201201' '201201' '201201' '201201' '201201' '201201' '201201' '201201'
 '201201' '201201' '201201' '201201' '201201' '201201' '201201' '201201'
 '201201' '201201' '201201' '201201' '201201' '201201' '201201' '201201'
 '201201' '201201' '201201' '201201' '201201' '201201' '201201' '201207'
 '201207' '201207' '201207' '201207' '201207' '201207' '201207' '201207'
 '201207' '201207' '201207' '201207' '201207' '201207' '201207' '201207'
 '201207' '201207' '201207' '201207' '201207' '201207' '201207' '201207'
 '201207' '201207' '201208' '201208' '201208' '201208' '201208' '201208'
 '201208' '201208' '201208' '201208' '201208' '201208' '201208' '201208'
 '201208' '201208' '201208' '201208' '201208' '201208' '201208' '201208'
 '201208' '201208' '201208' '201208' '201208' '201208' '201208' '201208'
 '201208' '201209' '201209' '201209' '201209' '201209' '201209' '201209'
 '201209' '201209' '201209' '201209' '201209' '201209' '201209' '201209'
 '201203' '201203' '201203' '201203' '201203' '201203' '201203' '201203'
 '201203' '201203' '201203' '201203' '201203' '201203' '201203' '201203'
 '201203' '201203' '201203' '201203' '201203' '201203' '201203' '201203'
 '201203' '201203' '201203' '201203' '201203' '201203' '201203' '201204'
 '201204' '201204' '201204' '201204' '201204' '201204' '201204' '201204'
 '201204' '201204' '201204' '201204' '201204' '201204' '201204' '201204'
 '201204' '201204' '201204' '201204' '201202' '201202' '201202' '201202'
 '201202' '201202' '201202' '201202' '201202' '201202' '201202' '201202'
 '201202' '201202' '201202' '201202' '201202' '201202' '201202' '201202'
 '201202' '201202' '201202' '201202' '201202' '201202' '201202' '201202'
 '201202' '201204' '201204' '201204' '201204' '201204' '201204' '201204'
 '201204' '201204' '201205' '201205' '201205' '201205' '201205' '201205'
 '201205' '201205' '201205' '201205' '201205' '201205' '201205' '201205'
 '201205' '201205' '201205' '201205' '201205' '201205' '201205' '201205'
 '201205' '201205' '201205' '201205' '201205' '201205' '201205' '201205'
 '201205' '201206' '201206' '201206' '201206' '201206' '201206' '201206'
 '201206' '201206' '201206' '201206' '201206' '201206' '201206' '201206'
 '201206' '201206' '201206' '201206' '201206' '201206' '201206' '201206'
 '201206' '201206' '201206' '201206' '201206' '201206' '201206' '201207'
 '201207' '201207' '201207' '201209' '201209' '201209' '201209' '201209'
 '201209' '201209' '201209' '201209' '201209' '201209' '201209' '201209'
 '201209' '201209' '201210' '201210' '201210' '201210' '201210' '201210'
 '201210' '201210' '201210' '201210' '201210' '201210' '201210' '201210'
 '201210' '201210' '201210' '201210' '201210' '201210' '201210' '201210'
 '201210' '201210' '201210' '201210' '201210' '201210' '201210' '201210'
 '201210' '201212' '201212' '201212' '201212' '201212' '201212' '201212'
 '201212' '201212' '201212' '201212' '201212' '201212' '201212' '201212'
 '201212' '201212' '201212' '201212' '201212' '201212' '201212' '201212'
 '201212' '201212' '201212' '201212' '201212' '201212' '201212' '201212'
 '201211' '201211' '201211' '201211' '201211' '201211' '201211' '201211'
 '201211' '201211' '201211' '201211' '201211' '201211' '201211' '201211'
 '201211' '201211' '201211' '201211' '201211' '201211' '201211' '201211'
 '201211' '201211' '201211' '201211' '201211' '201211']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_processed.loc[mask_periode, "periode_data"] = (

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,201201,2012-01-01,52,18,39,63,7,63,O3,SEDANG,DKI2,DKI2,DKI2,2012-01-01_DKI2
1,201201,2012-01-02,49,22,28,55,11,55,O3,SEDANG,DKI2,DKI2,DKI2,2012-01-02_DKI2

Processing 2013  indeks-standar-pencemaran-udara-(ispu)-tahun-2013-komponen-data.csv

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\2323513758.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['201301' '201301' '201301' '201301' '201301' '201301' '201301' '201301'
 '201301' '201301' '201301' '201301' '201301' '201301' '201301' '201301'
 '201301' '201301' '201301' '201301' '201301' '201301' '201301' '201301'
 '201301' '201301' '201301' '201301' '201301' '201301' '201301' '201303'
 '201303' '201303' '201303' '201303' '201303' '201303' '201303' '201303'
 '201303' '201303' '201303' '201303' '201303' '201303' '201303' '201303'
 '201303' '201303' '201303' '201303' '201303' '201303' '201303' '201303'
 '201303' '201303' '201303' '201303' '201303' '201303' '201306' '201306'
 '201306' '201306' '201306' '201306' '201306' '201306' '201306' '201306'
 '201306' '201306' '201306' '201306' '201306' '201306' '201306' '201306'
 '201306' '201306' '201305' '201305' '201305' '201305' '201305' '201305'
 '201305' '201305' '201305' '201305' '201305' '201305' '201305' '201305'
 '201305' '201305' '201305' '201305' '201305' '201305' '201305' '201305'
 '201305' '201305' '201305' '201305' '201305' '201305' '201305' '201305'
 '201305' '201306' '201306' '201306' '201306' '201306' '201306' '201306'
 '201306' '201306' '201306' '201302' '201302' '201302' '201302' '201302'
 '201302' '201302' '201302' '201302' '201302' '201302' '201302' '201302'
 '201302' '201302' '201302' '201302' '201302' '201302' '201302' '201302'
 '201302' '201302' '201302' '201302' '201302' '201302' '201302' '201304'
 '201304' '201304' '201304' '201304' '201304' '201304' '201304' '201304'
 '201304' '201304' '201304' '201304' '201304' '201304' '201304' '201304'
 '201304' '201304' '201304' '201304' '201304' '201304' '201304' '201304'
 '201304' '201304' '201304' '201304' '201304' '201307' '201307' '201307'
 '201307' '201307' '201307' '201307' '201307' '201307' '201307' '201307'
 '201307' '201307' '201307' '201307' '201307' '201307' '201307' '201307'
 '201307' '201307' '201307' '201307' '201307' '201307' '201307' '201307'
 '201307' '201307' '201307' '201307' '201308' '201308' '201308' '201308'
 '201308' '201308' '201308' '201308' '201308' '201308' '201308' '201308'
 '201308' '201308' '201308' '201308' '201308' '201308' '201308' '201308'
 '201308' '201308' '201308' '201308' '201308' '201308' '201308' '201308'
 '201308' '201308' '201308' '201310' '201310' '201310' '201310' '201310'
 '201310' '201310' '201310' '201310' '201310' '201310' '201310' '201310'
 '201310' '201310' '201310' '201310' '201310' '201310' '201310' '201310'
 '201310' '201310' '201310' '201310' '201310' '201310' '201310' '201310'
 '201310' '201310' '201311' '201311' '201311' '201311' '201311' '201311'
 '201311' '201311' '201311' '201311' '201311' '201311' '201311' '201311'
 '201311' '201311' '201311' '201311' '201311' '201311' '201311' '201309'
 '201309' '201309' '201309' '201309' '201309' '201309' '201309' '201309'
 '201309' '201309' '201309' '201309' '201309' '201309' '201309' '201309'
 '201309' '201309' '201309' '201309' '201309' '201309' '201309' '201309'
 '201309' '201309' '201309' '201309' '201309' '201311' '201311' '201311'
 '201311' '201311' '201311' '201311' '201311' '201311' '201312' '201312'
 '201312' '201312' '201312' '201312' '201312' '201312' '201312' '201312'
 '201312' '201312' '201312' '201312' '201312' '201312' '201312' '201312'
 '201312' '201312' '201312' '201312' '201312' '201312' '201312' '201312'
 '201312' '201312' '201312' '201312' '201312']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_processed.loc[mask_periode, "periode_data"] = (

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,201301,2013-01-01,75,4,27,135,10,135,O3,TIDAK SEHAT,DKI2,DKI2,DKI2,2013-01-01_DKI2
1,201301,2013-01-02,35,4,26,192,8,192,O3,TIDAK SEHAT,DKI2,DKI2,DKI2,2013-01-02_DKI2

Processing 2014  indeks-standar-pencemaran-udara-(ispu)-tahun-2014-komponen-data.csv

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\2323513758.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['201401' '201401' '201401' ... '201412' '201412' '201412']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_processed.loc[mask_periode, "periode_data"] = (

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori,kode_lokasi,kode_lokasi_clean,id
0,201401,2014-01-01,DKI1 (Bunderan HI),77,3,39,54,13,77,PM10,SEDANG,DKI1 (Bunderan HI),DKI1,2014-01-01_DKI1
1,201401,2014-01-02,DKI1 (Bunderan HI),55,4,29,58,12,58,O3,SEDANG,DKI1 (Bunderan HI),DKI1,2014-01-02_DKI1

Processing 2015  indeks-standar-pencemaran-udara-(ispu)-tahun-2015-komponen-data.csv

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\2323513758.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['201505' '201505' '201505' '201505' '201505' '201505' '201505' '201505'
 '201505' '201505' '201505' '201505' '201505' '201506' '201506' '201506'
 '201506' '201506' '201506' '201506' '201506' '201506' '201506' '201506'
 '201506' '201506' '201506' '201506' '201506' '201506' '201506' '201506'
 '201506' '201506' '201506' '201506' '201506' '201506' '201506' '201506'
 '201506' '201506' '201506' '201507' '201507' '201507' '201507' '201507'
 '201507' '201507' '201507' '201507' '201507' '201504' '201504' '201504'
 '201504' '201504' '201504' '201504' '201504' '201504' '201504' '201504'
 '201504' '201504' '201504' '201504' '201504' '201504' '201504' '201504'
 '201504' '201504' '201504' '201504' '201504' '201504' '201504' '201504'
 '201504' '201504' '201504' '201507' '201507' '201507' '201507' '201507'
 '201507' '201507' '201507' '201507' '201507' '201507' '201507' '201507'
 '201507' '201507' '201507' '201507' '201507' '201507' '201507' '201507'
 '201508' '201508' '201508' '201508' '201508' '201508' '201508' '201508'
 '201508' '201508' '201508' '201508' '201508' '201508' '201508' '201508'
 '201508' '201508' '201508' '201508' '201508' '201508' '201508' '201508'
 '201508' '201508' '201508' '201508' '201508' '201508' '201508' '201509'
 '201509' '201509' '201509' '201509' '201509' '201509' '201509' '201509'
 '201509' '201509' '201509' '201509' '201509' '201509' '201509' '201509'
 '201509' '201509' '201509' '201509' '201509' '201509' '201509' '201509'
 '201501' '201501' '201501' '201501' '201501' '201501' '201501' '201501'
 '201501' '201501' '201501' '201501' '201501' '201501' '201501' '201501'
 '201501' '201501' '201501' '201501' '201501' '201501' '201501' '201501'
 '201501' '201501' '201501' '201501' '201501' '201501' '201501' '201502'
 '201502' '201502' '201502' '201502' '201502' '201502' '201502' '201502'
 '201502' '201502' '201502' '201502' '201502' '201502' '201502' '201502'
 '201502' '201502' '201502' '201502' '201502' '201502' '201502' '201502'
 '201502' '201502' '201502' '201503' '201503' '201503' '201503' '201503'
 '201503' '201503' '201503' '201503' '201503' '201503' '201503' '201503'
 '201503' '201503' '201503' '201503' '201503' '201503' '201503' '201503'
 '201503' '201503' '201503' '201503' '201503' '201503' '201503' '201503'
 '201503' '201503' '201505' '201505' '201505' '201505' '201505' '201505'
 '201505' '201505' '201505' '201505' '201505' '201505' '201505' '201505'
 '201505' '201505' '201505' '201505' '201510' '201510' '201510' '201510'
 '201510' '201510' '201510' '201510' '201510' '201510' '201510' '201510'
 '201510' '201510' '201510' '201510' '201510' '201510' '201510' '201510'
 '201510' '201510' '201510' '201510' '201510' '201510' '201510' '201510'
 '201510' '201510' '201510' '201511' '201511' '201511' '201511' '201511'
 '201511' '201511' '201511' '201511' '201511' '201511' '201511' '201511'
 '201511' '201511' '201511' '201511' '201511' '201511' '201511' '201511'
 '201512' '201512' '201512' '201512' '201512' '201512' '201512' '201512'
 '201512' '201512' '201512' '201512' '201512' '201512' '201512' '201512'
 '201512' '201512' '201512' '201512' '201512' '201512' '201512' '201512'
 '201512' '201512' '201512' '201512' '201512' '201512' '201512' '201511'
 '201511' '201511' '201511' '201511' '201511' '201511' '201511' '201511'
 '201509' '201509' '201509' '201509' '201509']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_processed.loc[mask_periode, "periode_data"] = (

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,201505,2015-05-19,84,18,31,105,19,105,O3,TIDAK SEHAT,DKI3,DKI3,DKI3,2015-05-19_DKI3
1,201505,2015-05-20,83,18,30,97,22,97,O3,SEDANG,DKI3,DKI3,DKI3,2015-05-20_DKI3

Processing 2016  indeks-standar-pencemaran-udara-(ispu)-tahun-2016-komponen-data.csv

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\2323513758.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['201602' '201602' '201602' ... '201612' '201612' '201612']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_processed.loc[mask_periode, "periode_data"] = (

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori,kode_lokasi,kode_lokasi_clean,id
0,201602,2016-02-12,DKI2 (Kelapa Gading),41,3,24,35,15,41,PM10,BAIK,DKI2 (Kelapa Gading),DKI2,2016-02-12_DKI2
1,201602,2016-02-13,DKI2 (Kelapa Gading),73,16,47,72,23,73,PM10,SEDANG,DKI2 (Kelapa Gading),DKI2,2016-02-13_DKI2

Processing 2017  indeks-standar-pencemaran-udara-(ispu)-tahun-2017-komponen-data.csv

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\2323513758.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['201701' '201701' '201701' ... '201712' '201712' '201712']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_processed.loc[mask_periode, "periode_data"] = (

,periode_data,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori,kode_lokasi,kode_lokasi_clean,id
0,201701,2017-01-27,DKI5 (Kebon Jeruk),5,11,29,37,14,37,O3,BAIK,DKI5 (Kebon Jeruk),DKI5,2017-01-27_DKI5
1,201701,2017-01-28,DKI5 (Kebon Jeruk),5,11,28,42,6,42,O3,BAIK,DKI5 (Kebon Jeruk),DKI5,2017-01-28_DKI5

Processing 2018  indeks-standar-pencemaran-udara-(ispu)-tahun-2018-komponen-data.csv

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\2323513758.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['201804' '201804' '201804' '201804' '201804' '201804' '201804' '201804'
 '201804' '201804' '201804' '201804' '201804' '201804' '201804' '201804'
 '201804' '201804' '201804' '201804' '201804' '201804' '201804' '201804'
 '201804' '201804' '201804' '201804' '201804' '201804' '201807' '201807'
 '201807' '201807' '201807' '201807' '201807' '201807' '201807' '201807'
 '201807' '201807' '201807' '201807' '201807' '201807' '201807' '201807'
 '201807' '201807' '201807' '201807' '201807' '201808' '201808' '201808'
 '201808' '201808' '201808' '201808' '201808' '201808' '201808' '201808'
 '201808' '201808' '201808' '201808' '201808' '201808' '201808' '201808'
 '201808' '201808' '201808' '201808' '201808' '201808' '201808' '201808'
 '201808' '201808' '201808' '201808' '201809' '201809' '201809' '201809'
 '201809' '201809' '201809' '201809' '201809' '201809' '201809' '201809'
 '201809' '201809' '201809' '201809' '201809' '201809' '201809' '201802'
 '201802' '201802' '201802' '201802' '201802' '201802' '201802' '201802'
 '201802' '201802' '201802' '201802' '201802' '201802' '201802' '201802'
 '201802' '201802' '201802' '201802' '201802' '201802' '201802' '201802'
 '201802' '201802' '201802' '201803' '201803' '201803' '201803' '201803'
 '201803' '201803' '201803' '201803' '201803' '201803' '201803' '201803'
 '201803' '201803' '201803' '201803' '201803' '201803' '201803' '201803'
 '201803' '201803' '201803' '201803' '201803' '201801' '201801' '201801'
 '201801' '201801' '201801' '201801' '201801' '201801' '201801' '201801'
 '201801' '201801' '201801' '201801' '201801' '201801' '201801' '201801'
 '201801' '201801' '201801' '201801' '201801' '201801' '201801' '201801'
 '201801' '201801' '201801' '201801' '201803' '201803' '201803' '201803'
 '201803' '201805' '201805' '201805' '201805' '201805' '201805' '201805'
 '201805' '201805' '201805' '201805' '201805' '201805' '201805' '201805'
 '201805' '201805' '201805' '201805' '201805' '201805' '201805' '201805'
 '201805' '201805' '201805' '201805' '201805' '201805' '201805' '201805'
 '201806' '201806' '201806' '201806' '201806' '201806' '201806' '201806'
 '201806' '201806' '201806' '201806' '201806' '201806' '201806' '201806'
 '201806' '201806' '201806' '201806' '201806' '201806' '201806' '201806'
 '201806' '201806' '201806' '201806' '201806' '201806' '201807' '201807'
 '201807' '201807' '201807' '201807' '201807' '201807' '201809' '201809'
 '201809' '201809' '201809' '201809' '201809' '201809' '201809' '201809'
 '201809' '201811' '201811' '201811' '201811' '201811' '201811' '201811'
 '201811' '201811' '201811' '201811' '201811' '201811' '201811' '201811'
 '201811' '201811' '201811' '201811' '201811' '201811' '201811' '201811'
 '201811' '201811' '201811' '201811' '201811' '201811' '201811' '201812'
 '201812' '201812' '201812' '201812' '201812' '201812' '201812' '201812'
 '201812' '201812' '201812' '201812' '201812' '201812' '201812' '201812'
 '201812' '201812' '201812' '201812' '201812' '201812' '201812' '201812'
 '201812' '201812' '201812' '201812' '201812' '201812' '201810' '201810'
 '201810' '201810' '201810' '201810' '201810' '201810' '201810' '201810'
 '201810' '201810' '201810' '201810' '201810' '201810' '201810' '201810'
 '201810' '201810' '201810' '201810' '201810' '201810' '201810' '201810'
 '201810' '201810' '201810' '201810' '201810']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_processed.loc[mask_periode, "periode_data"] = (

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,201804,2018-01-04,45,25,17,57,13,57,O3,SEDANG,DKI5,DKI5,DKI5,2018-01-04_DKI5
1,201804,2018-02-04,46,27,18,57,19,57,O3,SEDANG,DKI5,DKI5,DKI5,2018-02-04_DKI5

Processing 2019  indeks-standar-pencemaran-udara-(ispu)-tahun-2019-komponen-data.csv

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\2323513758.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['201903' '201903' '201903' '201903' '201903' '201903' '201903' '201903'
 '201903' '201903' '201903' '201903' '201903' '201903' '201903' '201903'
 '201903' '201903' '201903' '201903' '201903' '201903' '201903' '201903'
 '201903' '201903' '201903' '201903' '201903' '201903' '201903' '201906'
 '201906' '201906' '201906' '201906' '201906' '201906' '201906' '201906'
 '201906' '201906' '201906' '201906' '201906' '201906' '201906' '201906'
 '201906' '201906' '201906' '201906' '201906' '201901' '201901' '201901'
 '201901' '201901' '201901' '201901' '201901' '201901' '201901' '201901'
 '201901' '201901' '201901' '201901' '201901' '201901' '201901' '201901'
 '201901' '201901' '201901' '201901' '201901' '201901' '201901' '201901'
 '201901' '201901' '201901' '201901' '201902' '201902' '201902' '201902'
 '201902' '201902' '201902' '201902' '201902' '201902' '201902' '201902'
 '201902' '201902' '201902' '201902' '201902' '201902' '201902' '201902'
 '201902' '201902' '201902' '201908' '201908' '201908' '201908' '201908'
 '201902' '201902' '201902' '201902' '201902' '201908' '201908' '201908'
 '201908' '201908' '201908' '201908' '201908' '201908' '201908' '201908'
 '201909' '201909' '201909' '201909' '201909' '201909' '201909' '201909'
 '201909' '201909' '201909' '201909' '201909' '201909' '201909' '201909'
 '201909' '201909' '201909' '201909' '201904' '201904' '201904' '201904'
 '201904' '201904' '201904' '201904' '201904' '201904' '201904' '201904'
 '201904' '201904' '201904' '201904' '201904' '201904' '201904' '201904'
 '201904' '201904' '201904' '201904' '201904' '201904' '201904' '201904'
 '201904' '201904' '201905' '201905' '201905' '201905' '201905' '201905'
 '201905' '201905' '201905' '201905' '201905' '201905' '201909' '201909'
 '201909' '201909' '201909' '201909' '201909' '201909' '201909' '201909'
 '201906' '201906' '201906' '201906' '201906' '201906' '201906' '201906'
 '201907' '201907' '201907' '201907' '201907' '201907' '201907' '201907'
 '201907' '201907' '201907' '201907' '201907' '201907' '201907' '201907'
 '201907' '201907' '201907' '201907' '201907' '201907' '201907' '201907'
 '201907' '201907' '201907' '201907' '201907' '201907' '201908' '201908'
 '201908' '201908' '201908' '201908' '201908' '201908' '201908' '201908'
 '201908' '201908' '201908' '201908' '201908' '201910' '201910' '201910'
 '201910' '201910' '201910' '201910' '201910' '201910' '201910' '201910'
 '201910' '201910' '201910' '201910' '201910' '201910' '201910' '201910'
 '201910' '201910' '201910' '201910' '201910' '201910' '201910' '201910'
 '201910' '201910' '201910' '201910' '201911' '201911' '201911' '201911'
 '201911' '201911' '201911' '201911' '201911' '201911' '201911' '201911'
 '201911' '201911' '201911' '201911' '201911' '201911' '201911' '201911'
 '201911' '201911' '201911' '201911' '201911' '201911' '201911' '201911'
 '201911' '201911' '201912' '201912' '201912' '201912' '201912' '201912'
 '201912' '201912' '201912' '201912' '201912' '201912' '201912' '201912'
 '201912' '201912' '201912' '201912' '201912' '201912' '201912' '201912'
 '201912' '201912' '201912' '201912' '201912' '201912' '201912' '201912'
 '201912']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_processed.loc[mask_periode, "periode_data"] = (

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,201903,2019-03-01,58,19,29,70,15,70,O3,SEDANG,DKI3,DKI3,DKI3,2019-03-01_DKI3
1,201903,2019-03-02,50,51,25,62,12,62,O3,SEDANG,DKI3,DKI3,DKI3,2019-03-02_DKI3

Processing 2020  indeks-standar-pencemaran-udara-(ispu)-tahun-2020-komponen-data.csv

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\2323513758.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['202005' '202005' '202005' '202005' '202005' '202005' '202005' '202005'
 '202005' '202005' '202005' '202005' '202005' '202005' '202005' '202005'
 '202005' '202005' '202005' '202005' '202005' '202005' '202005' '202005'
 '202005' '202005' '202005' '202005' '202005' '202005' '202005' '202008'
 '202008' '202008' '202008' '202008' '202008' '202008' '202008' '202008'
 '202008' '202008' '202008' '202008' '202008' '202009' '202009' '202009'
 '202009' '202009' '202009' '202009' '202009' '202001' '202001' '202001'
 '202001' '202001' '202001' '202001' '202001' '202001' '202001' '202001'
 '202001' '202001' '202001' '202001' '202001' '202001' '202001' '202001'
 '202001' '202001' '202001' '202001' '202001' '202001' '202001' '202001'
 '202001' '202001' '202001' '202001' '202003' '202003' '202003' '202003'
 '202003' '202003' '202003' '202003' '202003' '202003' '202003' '202003'
 '202003' '202003' '202003' '202003' '202003' '202003' '202003' '202003'
 '202003' '202003' '202003' '202003' '202003' '202003' '202003' '202003'
 '202003' '202003' '202003' '202004' '202004' '202004' '202004' '202004'
 '202004' '202004' '202004' '202004' '202004' '202004' '202004' '202004'
 '202004' '202004' '202004' '202004' '202004' '202004' '202004' '202004'
 '202004' '202004' '202004' '202004' '202004' '202004' '202004' '202004'
 '202004' '202009' '202009' '202009' '202009' '202009' '202009' '202009'
 '202009' '202009' '202009' '202009' '202009' '202009' '202009' '202009'
 '202009' '202006' '202006' '202006' '202006' '202006' '202006' '202006'
 '202006' '202006' '202006' '202006' '202006' '202006' '202006' '202006'
 '202006' '202006' '202006' '202006' '202006' '202006' '202006' '202006'
 '202006' '202006' '202006' '202006' '202006' '202006' '202006' '202007'
 '202007' '202007' '202007' '202007' '202007' '202007' '202007' '202007'
 '202007' '202007' '202007' '202007' '202007' '202007' '202007' '202007'
 '202007' '202007' '202007' '202007' '202007' '202007' '202007' '202002'
 '202002' '202002' '202002' '202002' '202002' '202002' '202002' '202002'
 '202002' '202002' '202002' '202002' '202002' '202002' '202002' '202002'
 '202002' '202002' '202002' '202002' '202002' '202002' '202002' '202002'
 '202002' '202002' '202002' '202002' '202007' '202007' '202007' '202007'
 '202007' '202007' '202007' '202008' '202008' '202008' '202008' '202008'
 '202008' '202008' '202008' '202008' '202008' '202008' '202008' '202008'
 '202008' '202008' '202008' '202008' '202011' '202011' '202011' '202011'
 '202011' '202011' '202011' '202011' '202011' '202011' '202011' '202011'
 '202011' '202011' '202011' '202011' '202011' '202011' '202011' '202011'
 '202011' '202011' '202011' '202011' '202011' '202011' '202011' '202011'
 '202011' '202011' '202012' '202012' '202012' '202012' '202012' '202012'
 '202012' '202012' '202012' '202012' '202012' '202012' '202012' '202012'
 '202012' '202012' '202012' '202012' '202012' '202012' '202012' '202012'
 '202012' '202012' '202012' '202012' '202012' '202012' '202012' '202012'
 '202012' '202009' '202009' '202009' '202009' '202009' '202009' '202010'
 '202010' '202010' '202010' '202010' '202010' '202010' '202010' '202010'
 '202010' '202010' '202010' '202010' '202010' '202010' '202010' '202010'
 '202010' '202010' '202010' '202010' '202010' '202010' '202010' '202010'
 '202010' '202010' '202010' '202010' '202010' '202010']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_processed.loc[mask_periode, "periode_data"] = (

,periode_data,tanggal,pm10,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,202005,2020-05-01,55,26,21,83,10,83,O3,SEDANG,DKI5,DKI5,DKI5,2020-05-01_DKI5
1,202005,2020-05-02,36,22,12,80,9,80,O3,SEDANG,DKI5,DKI5,DKI5,2020-05-02_DKI5

Processing 2021  indeks-standar-pencemaran-udara-(ispu)-tahun-2021-komponen-data.csv

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\2323513758.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['202101' '202101' '202101' ... '202112' '202112' '202112']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_processed.loc[mask_periode, "periode_data"] = (

,periode_data,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori,kode_lokasi,kode_lokasi_clean,id
0,202101,2021-01-22,DKI5 (Kebon Jeruk) Jakarta Barat,45,NaN,21,13,40,15,45,PM10,BAIK,DKI5 (Kebon Jeruk) Jakarta Barat,DKI5,2021-01-22_DKI5
1,202101,2021-01-23,DKI5 (Kebon Jeruk) Jakarta Barat,80,NaN,22,44,44,22,80,PM10,SEDANG,DKI5 (Kebon Jeruk) Jakarta Barat,DKI5,2021-01-23_DKI5

C:\Users\veiro\AppData\Local\Temp\ipykernel_10468\2323513758.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['202212' '202212' '202207' '202207' '202207' '202207' '202207' '202208'
 '202208' '202208' '202208' '202208' '202208' '202208' '202208' '202208'
 '202208' '202208' '202208' '202208' '202208' '202208' '202208' '202208'
 '202208' '202208' '202208' '202208' '202208' '202208' '202208' '202208'
 '202208' '202208' '202208' '202208' '202208' '202208' '202209' '202209'
 '202209' '202209' '202209' '202209' '202209' '202209' '202209' '202209'
 '202209' '202209' '202209' '202209' '202209' '202209' '202209' '202209'
 '202209' '202209' '202209' '202209' '202209' '202209' '202209' '202209'
 '202209' '202209' '202209' '202209' '202210' '202210' '202210' '202210'
 '202210' '202210' '202210' '202210' '202210' '202210' '202210' '202210'
 '202210' '202210' '202210' '202210' '202210' '202210' '202210' '202210'
 '202210' '202210' '202210' '202210' '202210' '202210' '202210' '202210'
 '202210' '202210' '202210' '202211' '202211' '202211' '202211' '202211'
 '202211' '202211' '202211' '202211' '202211' '202211' '202211' '202211'
 '202211' '202211' '202211' '202211' '202211' '202211' '202211' '202211'
 '202211' '202211' '202211' '202211' '202211' '202211' '202211' '202211'
 '202211' '202212' '202212' '202212' '202212' '202212' '202212' '202212'
 '202212' '202212' '202212' '202212' '202212' '202212' '202212' '202212'
 '202212' '202212' '202212' '202212' '202212' '202212' '202212' '202212'
 '202212' '202212' '202212' '202212' '202212' '202212' '202201' '202201'
 '202201' '202201' '202201' '202201' '202201' '202201' '202201' '202201'
 '202202' '202202' '202202' '202202' '202202' '202202' '202202' '202202'
 '202202' '202202' '202202' '202202' '202202' '202202' '202202' '202202'
 '202202' '202202' '202202' '202202' '202201' '202201' '202201' '202201'
 '202201' '202201' '202201' '202201' '202201' '202201' '202201' '202201'
 '202201' '202201' '202201' '202201' '202201' '202201' '202201' '202201'
 '202201' '202202' '202204' '202204' '202204' '202204' '202204' '202204'
 '202204' '202204' '202204' '202204' '202204' '202202' '202202' '202202'
 '202202' '202202' '202202' '202202' '202203' '202203' '202203' '202203'
 '202203' '202203' '202203' '202203' '202203' '202203' '202203' '202203'
 '202203' '202203' '202203' '202203' '202203' '202203' '202203' '202203'
 '202203' '202203' '202203' '202203' '202203' '202203' '202203' '202203'
 '202203' '202203' '202203' '202204' '202204' '202204' '202205' '202205'
 '202205' '202205' '202205' '202205' '202205' '202205' '202205' '202205'
 '202205' '202205' '202205' '202205' '202205' '202205' '202206' '202206'
 '202206' '202206' '202206' '202204' '202204' '202204' '202204' '202204'
 '202204' '202204' '202204' '202204' '202204' '202204' '202204' '202204'
 '202204' '202204' '202204' '202205' '202205' '202205' '202205' '202205'
 '202205' '202205' '202205' '202205' '202205' '202205' '202205' '202205'
 '202205' '202205' '202206' '202206' '202206' '202206' '202206' '202206'
 '202206' '202206' '202206' '202206' '202206' '202206' '202206' '202206'
 '202206' '202206' '202206' '202206' '202206' '202206' '202206' '202206'
 '202206' '202206' '202206' '202207' '202207' '202207' '202207' '202207'
 '202207' '202207' '202207' '202207' '202207' '202207' '202207' '202207'
 '202207' '202207' '202207' '202207' '202207' '202207' '202207' '202207'
 '202207' '202207' '202207' '202207' '202207']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_processed.loc[mask_periode, "periode_data"] = (

Processing 2022  indeks-standar-pencemaran-udara-(ispu)-tahun-2022-komponen-data.csv

,periode_data,tanggal,pm_10,pm_duakomalima,so2,co,o3,no2,max,critical,categori,lokasi_spku,kode_lokasi,kode_lokasi_clean,id
0,202212,2022-12-31,54,73,56,24,23,24,73,"PM2,5",SEDANG,DKI4,DKI4,DKI4,2022-12-31_DKI4
1,202212,2022-12-30,40,64,57,21,17,24,64,"PM2,5",SEDANG,DKI4,DKI4,DKI4,2022-12-30_DKI4

In [12]:
sorted([f.name for f in OUTPUT_DIR.glob("*.csv")])

['2010_id.csv',
 '2011_id.csv',
 '2012_id.csv',
 '2013_id.csv',
 '2014_id.csv',
 '2015_id.csv',
 '2016_id.csv',
 '2017_id.csv',
 '2018_id.csv',
 '2019_id.csv',
 '2020_id.csv',
 '2021_id.csv',
 '2022_id.csv',
 '2023_id.csv',
 '2024_id.csv',
 '2025_id.csv']