In [22]:

import pandas as pd
from pathlib import Path

INPUT_DIR = Path(r"C:\Users\USER\Desktop\DATAVIDIA\penyisihan-datavidia-10\ispu_named\output")
FINAL_OUTPUT = Path(r"C:\Users\USER\Desktop\DATAVIDIA\penyisihan-datavidia-10\ispu_named\ispu_all_years.csv")

In [23]:

dfs = []

for file in sorted(INPUT_DIR.glob("*.csv")):
    df = pd.read_csv(file)
    print(f"{file.name}: {df.shape[0]} rows")
    dfs.append(df)

df_all = pd.concat(dfs, ignore_index=True)

2010_id.csv: 1825 rows
2011_id.csv: 365 rows
2012_id.csv: 366 rows
2013_id.csv: 365 rows
2014_id.csv: 1825 rows
2015_id.csv: 365 rows
2016_id.csv: 1830 rows
2017_id.csv: 1825 rows
2018_id.csv: 365 rows
2019_id.csv: 345 rows
2020_id.csv: 366 rows
2021_id.csv: 1825 rows
2022_id.csv: 365 rows
2023_id.csv: 1825 rows
2024_id.csv: 1830 rows
2025_id.csv: 1215 rows

In [10]:

print("Total rows setelah merge:", df_all.shape[0])
print("Total kolom:", df_all.shape[1])
display(df_all.head())

Total rows setelah merge: 16902
Total kolom: 13

,periode_data,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori,id
0,201001,2010-01-19,DKI2 (Kelapa Gading),---,NaN,---,---,---,---,0,NaN,TIDAK ADA DATA,2010-01-19_DKI2
1,201001,2010-01-20,DKI2 (Kelapa Gading),---,NaN,---,---,---,---,0,NaN,TIDAK ADA DATA,2010-01-20_DKI2
2,201001,2010-01-21,DKI2 (Kelapa Gading),---,NaN,---,---,---,---,0,NaN,TIDAK ADA DATA,2010-01-21_DKI2
3,201001,2010-01-22,DKI2 (Kelapa Gading),---,NaN,---,---,---,---,0,NaN,TIDAK ADA DATA,2010-01-22_DKI2
4,201001,2010-01-23,DKI2 (Kelapa Gading),---,NaN,---,---,---,---,0,NaN,TIDAK ADA DATA,2010-01-23_DKI2

In [11]:

df_all.to_csv(FINAL_OUTPUT, index=False)