In [1]:
from pathlib import Path
import sys
import pandas as pd
import numpy as np
from IPython.display import display




NA_VALUES = ["---", "--", "", " ", "NA", "N/A"]
# =========================
# FILE FINDER
# =========================
def find_file(name, start=Path.cwd()):
    for ancestor in [start] + list(start.parents):
        matches = list(ancestor.rglob(name))
        if matches:
            return matches[0]
    return None


def find_files(file_map):
    found = {}
    for key, filename in file_map.items():
        path = find_file(filename)
        if path:
            found[key] = path
        else:
            print(f"[WARNING] File not found: {filename}")
    return found

eda_script_path = find_file("script_eda.py")
if eda_script_path is None:
    raise FileNotFoundError("❌ script_eda.py tidak ditemukan di parent directory")

# tambahkan BASE PROJECT ke sys.path
sys.path.append(str(eda_script_path.parent))

# sekarang bisa import
from script_eda import evaluate_dataset, extract_column_schema,find_internal_duplicate_columns,extract_single_schema,cek_value_data_column

In [2]:
path_ndvi = find_file("indeks_ndvi_id.csv")

if path_ndvi is None:
    raise FileNotFoundError("❌ File merged tidak ditemukan")

df_ndvi = pd.read_csv(path_ndvi, na_values=NA_VALUES)

df_ndvi.head()

      tanggal stasiun_id    ndvi               id
0  2009-12-19       DKI5  0.3801  2009-12-19_DKI5
1  2010-01-01       DKI5  0.3705  2010-01-01_DKI5
2  2010-01-17       DKI5  0.4848  2010-01-17_DKI5
3  2010-02-02       DKI5  0.5710  2010-02-02_DKI5
4  2010-02-18       DKI5  0.4308  2010-02-18_DKI5

In [4]:
path_cuaca = find_file("cuaca_harian_dki_id.csv")

if path_cuaca is None:
    raise FileNotFoundError("❌ File merged tidak ditemukan")

df_cuaca = pd.read_csv(path_cuaca, na_values=NA_VALUES)

df_cuaca.head()

,time,temperature_2m_max (°C),temperature_2m_min (°C),precipitation_sum (mm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),temperature_2m_mean (°C),relative_humidity_2m_mean (%),...,cloud_cover_min (%),wind_gusts_10m_mean (km/h),wind_speed_10m_mean (km/h),wind_gusts_10m_min (km/h),wind_speed_10m_min (km/h),surface_pressure_max (hPa),surface_pressure_min (hPa),lokasi,lokasi_clean,id
0,2010-01-01,29.4,24.4,4.0,14.0,16.0,246,16.24,26.6,81,...,99,21.0,10.5,11.9,6.9,1009.3,1005.1,dki1_bundaranhi,DKI1,2010-01-01_DKI1
1,2010-01-02,30.8,24.0,6.5,4.0,14.7,238,19.80,26.9,82,...,91,16.5,7.7,9.0,4.4,1009.9,1006.0,dki1_bundaranhi,DKI1,2010-01-02_DKI1
2,2010-01-03,30.4,24.3,7.6,11.0,12.6,244,17.32,26.7,83,...,81,18.4,9.4,11.9,6.5,1010.5,1006.5,dki1_bundaranhi,DKI1,2010-01-03_DKI1
3,2010-01-04,30.3,25.4,0.9,5.0,19.3,239,20.43,27.4,81,...,17,23.8,13.5,14.4,9.6,1009.1,1005.1,dki1_bundaranhi,DKI1,2010-01-04_DKI1
4,2010-01-05,29.9,24.8,14.3,7.0,15.9,247,15.86,26.4,83,...,99,21.6,11.1,10.4,7.8,1009.1,1006.0,dki1_bundaranhi,DKI1,2010-01-05_DKI1

In [5]:
path_ispu = find_file("ispu_all_years_duplicate_handled.csv")

if path_ispu is None:
    raise FileNotFoundError("❌ File merged tidak ditemukan")

df_ispu = pd.read_csv(path_ispu, na_values=NA_VALUES)

df_ispu.head()

,periode_data,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori,id
0,201001,2010-01-01,DKI1 (Bunderan HI),60.0,NaN,4.0,73.0,27.0,14.0,73.0,CO,SEDANG,2010-01-01_DKI1
1,201001,2010-01-01,DKI2 (Kelapa Gading),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TIDAK ADA DATA,2010-01-01_DKI2
2,201001,2010-01-01,DKI3 (Jagakarsa),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TIDAK ADA DATA,2010-01-01_DKI3
3,201001,2010-01-01,DKI4 (Lubang Buaya),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TIDAK ADA DATA,2010-01-01_DKI4
4,201001,2010-01-01,DKI5 (Kebon Jeruk),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TIDAK ADA DATA,2010-01-01_DKI5